export(GP_fit,GP_deviance,corr_matrix,predict.GP,plot.GP,print.GP,summary.GP)

importFrom(lhs,maximinLHS)
importFrom(lattice,wireframe,levelplot)
S3method(plot,GP)
S3method(predict,GP)
S3method(print,GP)
S3method(summary,GP)
